[submodule "MIG_ExternalMemoryInterface"]
	path = MIG_ExternalMemoryInterface
	url = https://github.com/lunar456th/MIG_ExternalMemoryInterface.git
[submodule "PASC"]
	path = PASC
	url = https://github.com/lunar456th/PASC.git
[submodule "UART"]
	path = UART
	url = https://github.com/lunar456th/UART.git
