[submodule "MIG_ExternalMemoryInterface"]
	path = MIG_ExternalMemoryInterface
	url = https://github.com/lunar456th/MIG_ExternalMemoryInterface.git
[submodule "PASC"]
	path = PASC
	url = https://github.com/lunar456th/PASC.git
[submodule "MIPS-single-cycle"]
	path = MIPS-single-cycle
	url = https://github.com/lunar456th/MIPS-single-cycle.git
[submodule "MIPS-Verilog"]
	path = MIPS-Verilog
	url = https://github.com/lunar456th/MIPS-Verilog.git
	branch = fourth
